<ul class="menu">
    <li ms-for="m in menus" ms-class="['menu__item',m.checked&&'checked']">
        <div class="menu__title">
            <a class="nav-link clearfix" data-id="m.id" ms-click="menuItemClick($event,m)">
                <i class="glyphicon glyphicon-home left"></i>
                <i class="glyphicon right" ms-class="[m.checked?'glyphicon-menu-down':'glyphicon-menu-right']"></i>
                <span class="text">{{m.title}}</span>
            </a>
        </div>
        <ul ms-class="['submenu',m.checked&&'checked']" ms-effect="{is:'slide',action:m.aniAction}">
            <li ms-for="sm in submenuArr[m.id]" ms-class="['submenu__item',sm.checked&&'checked']">
                <ms-navlink ms-widget="{to:sm.path,click:subMenuItemClick,data:sm}">
                    {{sm.title}}
                </ms-navlink>
            </li>
        </ul>
    </li>
</ul>
