.menu {}

.menu__item:hover {
    background: #2a3845;
    color: #eee;
}

.menu__item.checked {
    background: #2a3845;
}

.menu .nav-link {
    display: block;
    color: #aab;
    text-decoration: none;
}

.menu .nav-link:hover {
    color: #eee;
}

.menu__item > .menu__title .nav-link {
    font-size: 16px;
    font-weight: 600;
    padding: 1rem 2rem;
}

.menu__item > .menu__title .nav-link .glyphicon.left {
    float: left;
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-right: 1rem;
}

.menu__item > .menu__title .nav-link .glyphicon.right {
    float: right;
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
}

.menu__item > .menu__title .nav-link .text {
    display: block;
    overflow: hidden;
    height: 1.5rem;
    line-height: 1.5rem;
}

.menu__item.checked > .menu__title .nav-link {
    color: #eee;
}

.submenu {
    color: #ddd;
    padding-bottom: 1rem;
    /*display: none;*/
}

.submenu.checked {
    /*display: block;*/
    background: #2a3845;
}

.submenu__item .nav-link {
    padding: .5rem;
    padding-left: 4.5rem;
    font-weight: 300;
    font-size: 14px;
}

.submenu__item.checked .nav-link {
    color: #fff;
}
