.container {
    position: relative;
    margin: auto;
    text-align: center;
}

.left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.mid {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
