.main {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 5rem;
    background: #f2f3f5;
    border-bottom: solid 1px #e7e7e7;
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 3.5rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.5rem;
}
