<div class="pagetab" ms-attr="{id:$id}">
    <ul class="pagetab__header">
        <li class="left">
            <a class="link" ms-click="moveLeft"><i class="glyphicon glyphicon-backward"></i></a>
        </li>
        <li class="right clearfix">
            <a class="link" ms-click="moveRight"><i class="glyphicon glyphicon-forward"></i></a>
            <div class="link dropdown">
                <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    关闭操作
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <a class="link"><i class="glyphicon glyphicon-log-out"></i><span>退出</span></a>
        </li>
        <li class="mid">
            <ul class="pagetab__title__wrapper clearfix" ms-css="{marginLeft:tabTitleWrapperMarginLeft}">
                <li ms-for="item in items" class="pagetab__title">
                    <ms-navlink ms-widget="{to:item.path+(item.query?'?'+item.query:''),class:item.checked ? 'checked' : '',click:onTabTitleClick,iconClick:removeItem,iconVisible:item.id!==0,style:getItemStyle(item)}">
                        <span ms-text="item.title"></span>
                    </ms-navlink>
                </li>
            </ul>
        </li>
    </ul>
    <div class="pagetab__content">
        <ms-page />
    </div>
</div>
