<ul class="tab clearfix">
    <li class="tab-item">
        <input id="tab_check_0" type="radio" class="tab-check" name="tab_check" checked>
        <label for="tab_check_0" class="tab-title">Home</label>
        <span class="tab-line"></span>
        <div class="tab-page">
            <ms-homepage />
        </div>
    </li>
    <li class="tab-item">
        <input id="tab_check_1" type="radio" class="tab-check" name="tab_check">
        <label for="tab_check_1" class="tab-title">page1</label>
        <span class="tab-line"></span>
        <div class="tab-page">
            <ms-page1 />
        </div>
    </li>
    <li class="tab-item">
        <input id="tab_check_2" type="radio" class="tab-check" name="tab_check">
        <label for="tab_check_2" class="tab-title">page2</label>
        <span class="tab-line"></span>
        <div class="tab-page">
            <ms-page1 />
        </div>
    </li>
</ul>
