<div class="l-login">
    <article class="box">
        <h3 class="title"><img src="../../assets/imgs/logoicon.png"><span>登录</span></h3>
        <section class="content">
            <form ms-on-submit="@onSubmit">
                <p class="row">
                    <span class="iconfont icon-ren"></span>
                    <input type="text" name="account" placeholder="用户名/邮箱/手机号码">
                </p>
                <p class="row">
                    <span class="iconfont icon-lock-fill"></span>
                    <input type="text" name="account" placeholder="用户名/邮箱/手机号码">
                </p>
                <p class="row">
                    <input type="text" name="account" placeholder="用户名/邮箱/手机号码">
                    <a class="btn"><img src=""></a>
                </p>
                <p class="row row-noborder">
                    <input class="btn btn-submit" type="submit" name="submit" value="提交">
                </p>
            </form>
        </section>
        <section class="footer">
        </section>
    </article>
</div>
