.sidebar {
    float: left;
    width: 20rem;
    height: 100%;
    background: #203445;
}

.sidebar__header {
    height: 12rem;
    padding: .5rem;
    background: #022334;
    color: #eee;
}

.sidebar__nav {}

.main {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.main .main__top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 5rem;
    background: #f2f3f5;
    border-bottom: solid 1px #e7e7e7;
}

.main .main__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 3.5rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main .main__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.5rem;
}
