body > .container-full {
    width: 100%;
    height: 100%;
}

.sidebar {
    float: left;
    width: 19rem;
    height: 100%;
    background: #2f4050;
    position: relative;
    color: #aaa;
}

.sidebar ul {
    list-style: none;
    margin: 0;
}

.sidebar__header {
    height: 13rem;
    line-height: 13rem;
    background: #2a3845;
}

.sidebar__nav {
    position: absolute;
    top: 13rem;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding-top: 1rem;
}

.main {
    overflow: hidden;
    height: 100%;
    position: relative;
}

.main .main__top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 5rem;
    background: #f2f3f5;
    border-bottom: solid 1px #e7e7e7;
}

.main .main__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 3.5rem;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main .main__footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3.5rem;
    line-height: 3.5rem;
}
